<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/18e855e3-49b5-43b7-b7e8-4aa02e3295c7.jpeg" alt="Primeiro Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/smartmockups_kib70zrf.jpg" alt="Segundo Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/smartmockups_kic7y0ir.jpg" alt="Terceiro Slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4 text-ligth">Vem cá nos conhecer!</h2>
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-3 text-center justify-content-center mt-3">
            <h3>A (Re)Vista-se</h3>
            <img clas="logotipo" src="assets/(Re)vista-se.png" alt="Logotipo da loja com fundo bege, o escrito (Re)Vista-se em preto e, embaixo dele, o desenho de uma arara preta com as seguintes peças penduradas: um blazer vermelho, uma blusa verde, um colete amarelo e uma calça laranja">
        </div>
        <div class="col-9 text-justify">
        <p>Nascemos da ideia de um grupo que queria transformar a relação de consumo no mercado de moda, trazendo uma
            opção mais sustentável e consciente. Nós somos mais que um ambiente de venda de produtos, somos uma rede
            engajada com pessoas que se preocupam com seu impacto no meio ambiente e na sociedade.Apoiamos pequenos
            produtores e suas marcas de produção em baixa escala, o que permite um pagamento justo a toda cadeia de
            envolvida no processo, além de peças especiais, de alta qualidade e que terão uma vida útil ainda mais
            longa. Também temos um espaço dedicado a diversos brechós, trazendo rotatividade para peças já criadas e
            dando um novo lar a roupas que poderão trazer alegria para outras pessoas, reduzindo assim a compra de
            produtos produzidos em larga escala e oferecendo um preço bacana e uma peça que vem com uma história,
            prontinha para vestir novos corpos. Outra área incrível da (Re)Vestir-se é a de Trocas! Oferecemos às nossas
            clientes um ambiente seguro que permite a troca de conhecimento, dicas e, claro, roupas! Sabe aquela peça
            que você tem guardada em casa e nunca mais usou? Que tal trocar por uma peça que é a sua cara? Uma vez por
            mês abrimos nosso espaço físico para que nossas clientes venham trocar suas peças e aumentar sua rede de
            amizades! Pra finalizar com chave de ouro temos um blog! Espacinho dedicado a trazer informações e dicas
            para nossa rede, bora dar uma olhadinha?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-center justify-content-center mt-3">
            <h3>A (Re)Vista-se</h3>
            <img clas="logotipo" src="assets/(Re)vista-se.png" alt="Logotipo da loja com fundo bege, o escrito (Re)Vista-se em preto e, embaixo dele, o desenho de uma arara preta com as seguintes peças penduradas: um blazer vermelho, uma blusa verde, um colete amarelo e uma calça laranja">
        </div>
        <div class="col-9 text-justify">
        <p>Nascemos da ideia de um grupo que queria transformar a relação de consumo no mercado de moda, trazendo uma
            opção mais sustentável e consciente. Nós somos mais que um ambiente de venda de produtos, somos uma rede
            engajada com pessoas que se preocupam com seu impacto no meio ambiente e na sociedade.Apoiamos pequenos
            produtores e suas marcas de produção em baixa escala, o que permite um pagamento justo a toda cadeia de
            envolvida no processo, além de peças especiais, de alta qualidade e que terão uma vida útil ainda mais
            longa. Também temos um espaço dedicado a diversos brechós, trazendo rotatividade para peças já criadas e
            dando um novo lar a roupas que poderão trazer alegria para outras pessoas, reduzindo assim a compra de
            produtos produzidos em larga escala e oferecendo um preço bacana e uma peça que vem com uma história,
            prontinha para vestir novos corpos. Outra área incrível da (Re)Vestir-se é a de Trocas! Oferecemos às nossas
            clientes um ambiente seguro que permite a troca de conhecimento, dicas e, claro, roupas! Sabe aquela peça
            que você tem guardada em casa e nunca mais usou? Que tal trocar por uma peça que é a sua cara? Uma vez por
            mês abrimos nosso espaço físico para que nossas clientes venham trocar suas peças e aumentar sua rede de
            amizades! Pra finalizar com chave de ouro temos um blog! Espacinho dedicado a trazer informações e dicas
            para nossa rede, bora dar uma olhadinha?</p>
        </div>
    </div>
</div>