<div class="row w-100">
    <div class="col-md-12">
        <h1 class="text-center">Seja bem vinde ao (Re)Vista-se!</h1>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/assets/smartmockups_kicahrml.jpg"
                alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                src="/assets/smartmockups_kic9wh3f.jpg"
                alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                src="/assets/smartmockups_kic9zpsh.jpg"
                alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<!--Jumbotron-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-4">
                    <img class="d-block w-100" src="https://trello-attachments.s3.amazonaws.com/5fc02a77e4a48a87520740fc/5fcbf3bc7dc15c3b4c073abd/d75ee5730a0dd8a52bf94b4424608471/smartmockups_kic7ogpl.png"
                        alt="Imagem de um homem vestindo um casaco preto">
                </div>
                <div class="col-8">


                    <h1 class="display-4">Prepare-se para a (Re)Vista-se!
                    </h1>
                    <p>A (Re)Vista-se acredita na magia da amizade e do compartilhamento entre as pessoas torna a vida melhor, por isso preparamos os
                        melhores presentes para tornar o seu dia mais alegre.
                    
                    </p>
                    <p>Aguardamos sua Compra ;) </p>
                </div>
            </div>
        </div>
    </div>
    <!--/Jumbotron-->


<div class="container w-100" style="background-color: #FFD5BE">



    <div class="row w-100 mt-4 mb-4">
        <div class="card-deck justify-content-center" style="margin-left: 15px">
            <div class="card">
                <img src="assets/(Re)vista-se.png" class="card-img-top" alt="...">
                <div class="card-body" >
                    <h5 class="card-title">Sobre a (Re)Vista-se</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img src="assets/smartmockups_kicbbz1p.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nossos Produtos Slow Fashion</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img src="assets/e9e3e0f1-c6f0-420a-ae5c-46047064b855.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nossos Brechós</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal
                        height
                        action.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

        <div class="mt-4 mb-4">
            <div class="card-deck" style="margin-left: 15px">
                <div class="card">
                    <img src="assets/smartmockups_kicmk5rv.jpg" class="card-img-top" alt="...">
                    <div class="card-body" >
                        <h5 class="card-title">Nossa Feira de Trocas</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/smartmockups_kicn48ao.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nosso Clube</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/smartmockups_kicnik4k.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nosso Blog</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
